@{
    ViewBag.Title = "DashBoard";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive Admin &amp; Dashboard Template based on Bootstrap 5">
    <meta name="author" content="AdminKit">
    <meta name="keywords" content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">

    <link rel="shortcut icon" href="~/Image/client.jpg">

    @*<title>soengsouy.com</title>*@

    <link href="css/app.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <nav id="sidebar" class="sidebar">
            <div class="sidebar-content js-simplebar">
                <a class="sidebar-brand" href="index.html">
                    <span class="align-middle">DASHBOARD</span>
                </a>

                <ul class="sidebar-nav">
                    <li class="sidebar-header">
                        Pages
                    </li>

                    <li class="sidebar-item active">
                        <a class="sidebar-link" href="index.html">
                            <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Home</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="pages-profile.html">
                            <i class="align-middle" data-feather="user"></i> <span class="align-middle">Profile</span>
                        </a>
                    </li>

                    @if (User.IsInRole("Doctor") || User.IsInRole("Admin"))
                    {
                        <li class="sidebar-item">
                            <a onclick="GotoPatients()" class="sidebar-link">
                                <i class="align-middle" data-feather="credit-card"></i> <span class="align-middle">Patients</span>
                            </a>
                        </li>
                    }


                    @if (User.IsInRole("Pharmacist") || User.IsInRole("Admin"))
                    {
                        <li class="sidebar-item">
                            <a onclick="GotoProducts()" class="sidebar-link">
                                <i class="align-middle" data-feather="credit-card"></i> <span class="align-middle">Pharmacy</span>
                            </a>
                        </li>

                    }


                    @if (User.IsInRole("Admin"))
                    {
                        <li class="sidebar-item">
                            <a onclick="GotoDoctors()" class="sidebar-link">
                                <i class="align-middle" data-feather="credit-card"></i> <span class="align-middle">Doctors</span>
                            </a>
                        </li>


                        <li class="sidebar-item">
                            <a onclick="GotoEmployees()" class="sidebar-link">
                                <i class="align-middle" data-feather="credit-card"></i> <span class="align-middle">Employees</span>
                            </a>
                        </li>
                    }
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="pages-invoice.html">
                            <i class="align-middle" data-feather="credit-card"></i> <span class="align-middle">Contact</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="pages-settings.html">
                            <i class="align-middle" data-feather="settings"></i> <span class="align-middle">Settings</span>
                        </a>
                    </li>



                </ul>
            </div>
        </nav>

        <div class="main">
            <nav class="navbar navbar-expand navbar-light navbar-bg">
                @*<a class="sidebar-toggle d-flex">
                        <i class="hamburger align-self-center"></i>
                    </a>*@

                @*<form class="d-none d-sm-inline-block">
                        <div class="input-group input-group-navbar">
                            <input type="text" class="form-control" placeholder="Search…" aria-label="Search">
                            <button class="btn" type="button">
                                <i class="align-middle" data-feather="search"></i>
                            </button>
                        </div>
                    </form>*@

                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav navbar-align">
                       
                       
                        <li class="nav-item dropdown">
                           

                            <a>
                                <img src="~/Image/client.jpg" class="avatar img-fluid rounded mr-1" alt="Charles Hall" /> <span class="text-dark"></span>
                            </a>
                           
                        </li>
                    </ul>
                </div>
            </nav>
            <main class="content">

                <h1> WELCOME TO @ViewBag.Hos_Name</h1>
                <br />
                @*<h2>@ViewBag.Hos_Name</h2>*@
                <img src="https://tse4.mm.bing.net/th/id/OIP.kDZ3CaD5V3392U9bIqMwLwHaCt?w=350&h=127&c=7&r=0&o=5&pid=1.7" width="920" height="468" />
                <br />
                <section class="department_section layout_padding">
                    <div class="department_container">
                        <div class="container ">
                            <div class="heading_container heading_center">
                                <br />
                                <h2>
                                    Our Departments
                                </h2>
                                <p>
                                    Asperiores sunt consectetur impedit nulla molestiae delectus repellat laborum dolores doloremque accusantium
                                </p>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="box ">
                                        <div class="img-box">
                                            <img src="https://tse3.mm.bing.net/th?q=Heart+Surgery+Icon&w=120&h=120&c=1&rs=1&qlt=90&cb=1&pid=InlineBlock&mkt=en-IN&cc=IN&setlang=en&adlt=strict&t=1&mw=247" width="90" height="90">
                                        </div>
                                        <br />
                                        <div class="detail-box">
                                           
                                                <h5>
                                                    Cardiology
                                                </h5>
                                            <br />
                                            <p>
                                                The Department of Cardiology at TSC Hospital deals with the diagnosis and treatment of a wide spectrum of cardiac conditions like coronary artery diseases, congenital heart disease, heart rhythm disorders, heart failures, and valvular diseases.
                                            </p>

                                            <button onclick="document.location='https://localhost:44369/Admin/Cardiology'" type="button" class="btn btn-danger"> Know more</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="box ">
                                        <div class="img-box">
                                            <img src="https://tse2.mm.bing.net/th/id/OIP.KbiCLlF3jTVaicq8kiRGLQHaJ4?w=139&h=186&c=7&r=0&o=5&pid=1.7" width="90" height="90">
                                        </div>
                                        <br />
                                        <div class="detail-box">
                                            <h5>
                                                Orthopedic
                                            </h5>
                                            <br />
                                            <p>
                                                The Department of Orthopedic Surgery provides advanced treatment in all fields of Orthopedic Surgery including Trauma and Accident Surgery, Spine Surgery, Joint Replacements, Pediatric Orthopedics, Shoulder Surgery, Sports Medicine and Arthroscopy.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="box ">
                                        <div class="img-box">
                                            <img src="https://tse1.mm.bing.net/th?q=Maxillofacial+Surgery+Icon&w=120&h=120&c=1&rs=1&qlt=90&cb=1&pid=InlineBlock&mkt=en-IN&cc=IN&setlang=en&adlt=strict&t=1&mw=247" width="90" height="90">
                                        </div>
                                        <br />
                                        <div class="detail-box">
                                            <h5>
                                                Surgery
                                            </h5>
                                           <br />
                                           <p>
                                               The Department of Surgery at TSC Hospital promises outstanding surgical care offered by a highly qualified and experienced surgeon backed by trained nurses and ancillary staffs, and further supported by latest equipment and diagnostic facilities.
                                           </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="box ">
                                        <div class="img-box">
                                            <img src="https://tse2.mm.bing.net/th/id/OIP.DHLCkCpWMaMlEQzYBW-9ugHaHu?w=167&h=180&c=7&r=0&o=5&pid=1.7" width="90" height="90">
                                        </div>
                                        <br />
                                        <div class="detail-box">
                                            <h5>
                                                General Medicine
                                            </h5>
                                            <br />
                                            <p>
                                                The Department of General Medicine at TSC Hospital is aimed at the understanding and management of all aspects of general health care of its patients, including prevention of diseases and promotion of a healthy lifestyle.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-box">
                                @*<a href="">
                                 View All
                                </a>*@
                               
                            </div>
                        </div>
                    </div>
                </section>

                <br />
                <section class="about_section layout_margin-bottom">
                    <div class="container  ">
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="img-box">
                                    <img src="~/Image/OIP.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="detail-box">
                                    <div class="heading_container">
                                        <h2>
                                            About <span>Us</span>
                                        </h2>
                                    </div>
                                    <p>
                                        TSC Hospital Pvt Ltd, located within 1 km from Technopark, Infosys, and UST Global Campuses, is a leading multi-specialty hospital operating out of 2 multistoried buildings in NH Bypass, Kulathoor, Trivandrum. TSC Hospital Pvt Ltd had its humble beginnings in 23 November 2010 in a single 3-storeyed building offering specialized treatment in Surgery and Gynecology.
                                    </p>
                                    <a href="">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>



            </main>
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row text-muted">
                        <div class="col-6 text-left">
                            <p class="mb-0">
                                <a href="index.html" class="text-muted"><strong>ASP .NET PROJECT</strong></a> &copy;
                            </p>
                        </div>
                        <div class="col-6 text-right">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a class="text-muted" href="#">Support</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="#">Help Center</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="#">Privacy</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="#">Terms</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="js/app.js"></script>

    
    <script>
    function GotoPatients(){
         window.location.href = "@Url.Action("Index", "Patient")"+"/"+ @ViewBag.Hos_Id ;
    }

    function GotoProducts(){
         window.location.href = "@Url.Action("Index", "Product")"+"/"+ @ViewBag.Hos_Id;
    }

    function GotoDoctors(){
        window.location.href = "@Url.Action("DoctorIndex", "Employee")" + "/" + @ViewBag.Hos_Id;

    }

    function GotoEmployees(){
         window.location.href = "@Url.Action("Index", "Employee")"+"/"+ @ViewBag.Hos_Id;
    }
    </script>

</body>

</html>